body {
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
    font-family: Merriweather;
}
figcaption {
    color: white;
    font-style: italic;
    font-family: Merriweather;
}
.container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: stretch;
    justify-content: space-around;
}
