.grid {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-auto-rows: minmax(95px, auto);
    grid-template-areas:
      "nv hd   hd   hd   hd   hd  hd"
      "nv hd   hd   hd   hd   hd  hd"
      "nv main main main main sd  sd"
      "nv main main main main sd  sd"
      "nv main main main main sd  sd"
      "nv main main main main sd  sd"
      "ft ft   ft   ft   ft   ft  ft";
 
    grid-gap: 10px;
}
.nav {
    grid-area: nv;
}
.header {
    grid-area: hd;
}
.article {
    grid-area: main;
}
.aside {
    grid-area: sd;
}
.footer {
    grid-area: ft;
}